$font-base:        'Lato', sans-serif;
$font-main-title : 'Raleway Black';

$color-orange:      #ffd119;

$img-path :         '../img/';
$breakpoint :       1200px;

$animation-time-submenu:   .25s;
$animation-time-hamburger: .25s;